@import "option";

.main-body {
  width: inherit;
  height: auto;

  p {
    color: $clr-primary-400;
  }

  #thiky {
    position: relative;
    display: block;
    width: 80%;
    height: 1px;
    background: #adadad;
    margin: 2rem;
    z-index: -1;
  }

  .main-info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    padding: 1rem;

    .sec-title {
      padding: 1rem;
      h3 {
        font-size: 1.4rem;
        font-weight: 700;
        color: $clr-secondary-300;
        line-height: 1.2;
      }

      p {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3;
        margin-left: 0.5rem;
      }
    }
  }
}

.sec-title h2 {
  margin-left: 3rem;
}

.bg-section {
  width: 100%;
  background-color: $clr-primary-300;
  height: auto;

  .bg-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    .section-1 {
      width: 50%;
      height: 270px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;

      .sec-img {
        width: 50%;
        height: 100%;
        position: relative;
        overflow: hidden;

        .onglet {
          position: absolute;
          top: 0;
          left: 0;
          text-align: center;
          transform: translateY(85%);
          display: block;
          width: 100%;
          height: 100%;
          background-color: $clr-secondary-300;
          overflow: hidden;

          p {
            display: inline-block;
            position: relative;
            font-size: 1.3rem;
            font-weight: 300;
            color: aliceblue;
            margin: 10px;
          }

          .trait {
            width: 80%;
            height: 2px;
            background-color: azure;
            display: block;
            position: relative;
            transform: translateX(25px);
          }
        }
      }

      .sec-icone {
        width: 50%;
        height: 270px;
        background-color: $clr-primary-400;

        img {
          object-fit: scale-down;
        }
      }
    }

    .section-2 {
      width: 50%;
      height: 270px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;

      .sec-img {
        width: 50%;
        height: 100%;
        position: relative;
        overflow: hidden;

        .onglet {
          position: absolute;
          top: 0;
          left: 0;
          text-align: center;
          transform: translateY(85%);
          display: block;
          width: 100%;
          height: 100%;
          background-color: $clr-secondary-300;
          overflow: hidden;

          p {
            display: inline-block;
            position: relative;
            font-size: 1.3rem;
            font-weight: 300;
            color: aliceblue;
            margin: 10px;
          }

          .trait {
            width: 80%;
            height: 2px;
            background-color: azure;
            display: block;
            position: relative;
            transform: translateX(25px);
          }
        }
      }
      .sec-icone {
        width: 50%;
        height: 270px;
        background-color: $clr-primary-400;

        img {
          object-fit: scale-down;
        }
      }
    }
  }
}

.sec-info-area {
  .main-sec {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 100%;

    .sec-1 {
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      width: 100%;
      align-content: center;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 5rem;
    }

    .sec-2 {
      margin-top: 2rem;
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      align-content: center;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 5rem;
    }

    .sec-3 {
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      width: 100%;
      align-content: center;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 5rem;
    }
    .sec-textuel .sec-title p {
      font-size: 1.1rem;
      font-weight: 400;
      line-height: 1.3;
      margin-left: 0.5rem;
      padding-left: 3.5rem;
    }
    .sec-textuel {
      width: 75%;
    }
    .sec-icone {
      width: 25%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.section-clientele {
  background-color: $clr-primary-300;
  width: 100%;
  height: auto;

  .article-grid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .article:nth-child(2) {
      flex-direction: row-reverse;
      @media screen and (max-width: 868px) {
        flex-direction: column;
      }
    }

    .article {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 350px;

      @media screen and (max-width: 868px) {
        flex-direction: column;
        height: auto;
      }

      .sec-img {
        width: 50%;
        height: 100%;

        @media screen and (max-width: 868px) {
          width: 100%;
          height: 250px;
        }
      }

      .sec-text {
        width: 50%;
        height: inherit;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem;
        background-color: $clr-primary-400;
        color: $clr-light-400;
        @media screen and (max-width: 868px) {
          width: 100%;
        }

        h3 {
          font-size: 1.6rem;
          font-weight: 700;
          letter-spacing: -1px;
          margin-bottom: 1rem;
          color: #fefefe;
        }

        p {
          color: $clr-light-300;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.5;
          padding: 0 1rem;
        }
      }
    }
  }
}

.section-devis {
  margin-top: 3rem;

  .titling {
    margin: 2rem 0 2rem 1rem;

    .sec-title h2 {
      margin: 0;
    }
    .mini-title {
      font-size: 1.1rem;
      font-weight: 400;
      color: $clr-primary-400;
      margin-top: 1rem;
    }
  }

  .cards {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    .card {
      width: 25%;
      height: 100%;
      display: inline-flex;
      flex-direction: column;
      align-content: space-around;
      align-items: center;
      justify-content: space-evenly;

      .bg-title {
        width: 100%;
        height: 80px;
        background-color: $clr-secondary-300;
      }

      .img-article {
        width: 100%;
        height: 100%;
      }

      .desc-article {
        width: 100%;
        height: 100%;
        font-size: 1rem;
        line-height: 1.6;
      }
    }
  }
}

//MOBILE
@media screen and (max-width: 868px) {
  .main-info {
    flex-direction: column !important;

    .section-btn-sec {
      margin: 0 !important;
    }
  }

  .sec-textuel .sec-title p {
    padding-left: 1rem !important;
  }

  .sec-title h2 {
    margin-left: 1rem;
  }

  .section-nos-services .sec-title h2 {
    margin-left: 1rem !important;
  }

  .bg-grid {
    flex-direction: column !important;

    .section-1 {
      width: 100% !important;

      .sec-img .onglet .trait {
        display: none !important;
      }
    }
    .section-2 {
      width: 100% !important;
      flex-direction: row-reverse !important;

      .sec-img .onglet .trait {
        display: none !important;
      }
    }
  }
}
