@import "option";

footer {
  background-color: $clr-primary-300;
  width: 100%;
  height: auto;
  padding: 2rem 0;

  .flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .social-media {
      display: inline-flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      color: $clr-light-500;
      font-size: 0.9rem;
      letter-spacing: 0.5px;
      font-weight: 400;

      .politiques {
        display: inline-flex;
        width: 100%;
        margin: 1.5rem 0;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        &:hover {
          color: $clr-secondary-300;
        }

        a {
          margin-left: 0.5rem;

          &:hover {
            border-bottom: 1px $clr-secondary-300 solid;
            color: $clr-secondary-300;
          }
        }
      }

      .mail {
        display: inline-flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1rem;

        &:hover {
          color: $clr-secondary-300;
        }

        a {
          margin-left: 0.5rem;

          &:hover {
            border-bottom: 1px $clr-secondary-300 solid;
            color: $clr-secondary-300;
          }
        }
      }

      .phone {
        display: inline-flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1rem;

        &:hover {
          color: $clr-secondary-300;
        }

        a {
          margin-left: 0.5rem;

          &:hover {
            border-bottom: 1px $clr-secondary-300 solid;
            color: $clr-secondary-300;
          }
        }
      }

      .facebook {
        display: inline-flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1rem;

        &:hover {
          color: $clr-secondary-300;
        }

        a {
          margin-left: 0.5rem;

          &:hover {
            border-bottom: 1px $clr-secondary-300 solid;
            color: $clr-secondary-300;
          }
        }
      }
    }

    .contact {
      display: inline-flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      color: $clr-light-500;

      h3 {
        font-size: 1.4rem;
        font-weight: 700;
      }

      .text-form {
        margin-top: 1rem;
        font-size: 0.9rem;
      }

      form {
        margin-top: 1rem;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;

        .btn-form {
          background: transparent;
          outline: none;
          border: 1px #e6e6e6 solid;
          font-size: 1.2rem;
          padding: 0.3rem 1rem;
          color: aliceblue;
          cursor: pointer;
        }

        label {
          display: inline-flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          margin-top: 0.5rem;
          width: 100%;

          input,
          textarea {
            width: 100%;
            position: relative;
            margin-bottom: 1rem;
            box-shadow: none;
            outline: none;
            border: none;
            border-bottom: 1px #e6e6e6 solid;
            background-color: transparent;
            margin-top: 0.5rem;
            color: $clr-light-500;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
              Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
              sans-serif;

            &:focus-visible {
              outline: none;
              border: none;
              border-bottom: 1px $clr-secondary-300 solid;
              background: transparent;
            }
          }
        }
      }
    }
  }
}
