@import "_option";

.main {
  max-width: 100%;
  height: 100vh;

  .hero-text {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;

    .section-desc {
      font-size: 1.4rem;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 1.3;
    }

    .section-title {
      font-size: 2.5rem;
      font-weight: 800;
      letter-spacing: -1px;
      text-transform: uppercase;
      margin-top: 2rem;
    }

    .section-slogan {
      font-size: 1.4rem;
      font-weight: 100;
      letter-spacing: 1px;
      margin-top: 0.5rem;
    }
  }
  .bg-hero {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    z-index: -10;

    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      z-index: 1;
    }

    .cover-bg::after {
      content: "";
      z-index: 1;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(
        0deg,
        rgb(9 10 12),
        rgb(0 0 17/0.8) 10%,
        rgb(14 39 210/0.05)
      );
    }
  }
}
