@import "option";

@keyframes linksAnim {
  from {
    transform: translate3d(100px, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes linksOpa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 10;

  &.hidden {
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    top: -30px;
    opacity: 0;
  }
  &.active {
    visibility: visible;
    top: 0px;
    transition: all 0.3s ease-in-out;
  }
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  padding: 0 2em;
  align-items: center;
  background: linear-gradient(rgb(57 62 70 / 50%), transparent);

  .section-logo {
    width: 100%;
    height: 100%;
    display: inline-flex;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      width: 125px;
      transition: all 250ms ease-in;
    }
  }

  .section-links {
    a {
      color: #fff;
      padding: 0 1.5em;
      font-size: 1.2em;
      font-weight: 500;
      align-items: center;
      height: 100%;
      cursor: pointer;
      transition: all 250ms ease-out;

      &:hover {
        color: $clr-secondary-300;
        border-bottom: 5px $clr-secondary-300 solid;
        transition: all 250ms ease-out;
      }

      &:active {
        border-bottom: none;
        color: #fff;
        border-bottom: 5px $clr-secondary-400 solid;
      }
    }
    @media screen and (max-width: 868px) {
      display: none;
      transition: all 250ms ease-out;
    }

    .btn-link {
      border: 2px solid #fff;
      border-radius: 10px;
      padding: 0.2em 1.5em;
      margin-left: 1em;

      &:hover {
        background-color: $clr-secondary-300;
        border: 2px solid $clr-secondary-300;
        color: #fff;
        transition: all 250ms ease-in-out;
      }
    }
  }

  .section-mobile {
    display: none;
    cursor: pointer;

    @media screen and (max-width: 868px) {
      display: inline-block;
      transition: all 250ms ease-out;
    }
  }
}

.menu-mobile {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #24262bfc;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  right: -100%;
  transition: all 0.5s ease-in;
  z-index: 5;

  &.active {
    right: 0;
    transition: all 0.5s ease-out;
  }
}

.sec-link {
  width: 100%;
  height: inherit;
  display: -moz-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .set-linked {
    max-width: 300px;
    height: 90%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 2rem auto;
    padding: 3.3rem;

    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -1px;
    color: $clr-light-300;

    .linked-services {
      .flex-service {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-top: 2rem;

        a {
          margin: 0;
        }

        .btn-activable {
          width: 100%;
          height: 100%;
          margin-left: 3.3rem;
          cursor: pointer;
        }
      }

      .links {
        font-size: 1rem;
        display: none;
        transition: all ease-out 500ms;
        display: none;

        &.active {
          display: flex;
          width: 100%;
          height: auto;
          flex-direction: column;
          align-items: flex-start;
          transition: all ease-in 500ms;
          animation-name: linksOpa;
          animation-duration: 1.5s;

          :nth-child(1) {
            animation-name: linksAnim;
            animation-duration: 1s;
          }
          :nth-child(2) {
            animation-name: linksAnim;
            animation-duration: 1s;
            animation-delay: 200ms;
          }
          :nth-child(3) {
            animation-name: linksAnim;
            animation-duration: 1s;
            animation-delay: 300ms;
          }
        }

        a {
          margin-left: 1.5rem;
          height: 1.5rem;
          text-transform: uppercase;
        }
      }
    }

    a {
      display: inline-flex;
      margin-top: 2rem;
      width: 100%;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;

      &:hover {
        color: $clr-light-400;
        border-bottom: 3px $clr-secondary-300 solid;
        background: $clr-primary-400;
      }
    }
  }

  .sec-info {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 20%;

    .ico-email {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    .ico-numero {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    p {
      margin-left: 0.5rem;
      font-size: 0.8rem;
      font-weight: 400;
      letter-spacing: 0.5px;
      color: $clr-light-300;
    }
  }
}
